.ap-slider-container {
    display: block;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.ap-slider-container section.page-section[data-section-id] {
    transition: all 1s ease-in-out;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
}

.ap-slider-container section.page-section {
    min-height: unset !important;
}

.ap-slider-container section.padding-top {
    padding-top: var(--sectionPaddingTop) !important;
}

.ap-slider-container section .section-background:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.ap-slider-container .slide-btn {
    position: absolute;
    z-index: 4;
    cursor: pointer;
    height: 75px;
    width: 75px;
    top: 50%;
    transform: translate(0%, -50%);
}

.ap-slider-container .slide-btn svg {
    width: 100%;
    height: 100%;
    transition: all .3s;
}

.ap-slider-container .slide-btn svg:hover {
    transform: scale(1.05);
    transition: all .3s;
}

.ap-slider-container .slide-btn svg:active {
    transform: scale(.95);
    transition: all .3s;
}

.ap-slider-container .slide-btn svg path {
    fill: white;
    stroke: white;
    box-shadow:0px 0px 5px #888;
}

.ap-slider-container .next-btn {
    right: 0px;
}

.ap-slider-container .next-btn svg {
    right: 0;
}

.ap-slider-container .prev-btn {
    left: 0px;
}

.ap-slider-container .prev-btn svg {
    left: 0;
}

.ap-slider-container [data-slide="previous"] {
    transform: translateX(-100vw) !important;
    z-index: 1;
}

.ap-slider-container [data-slide="next"] {
    transform: translateX(100vw) !important;
    z-index: 1;
}

.ap-slider-container [data-slide="current"] {
    transform: translateX(00px) !important;
    z-index: 2 !important;
    opacity: 1 !important;
}

body:not(.sqs-edit-mode-active) .ap-slider-container [data-slide="static"] {
    z-index: 3 !important;
    opacity: 1 !important;
    background-color:transparent !important
}
body:not(.sqs-edit-mode-active) .ap-slider-container [data-slide="static"] .section-background{
    display:none;
}

.ap-slider-container .static-first-section{
    z-index: 3 !important; 
    opacity:1 !important;  
}

.ap-slider-container .play-pause-btn {
    position: absolute;
    z-index: 4 !important;
    color: white;
    cursor: pointer;
    bottom: 0px;
    right: 0px;
    height: 75px;
    width: 75px;
}

.ap-slider-container .play-pause-btn svg {
    position: absolute;
    z-index: 4 !important;
    height: 100%;
    width: 100%;
    right: 0;
    bottom: 0;
}

.ap-slider-container .play-pause-btn svg path {
    fill: white;
    stroke: white;
}

.ap-slider-container .play-pause-btn svg:hover {
    transform: scale(1.05);
    transition: all .3s;
}

.ap-slider-container .play-pause-btn svg:active {
    transform: scale(.95);
    transition: all .3s;
}

.ap-slider-container .dots-container {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    max-width: 250px;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    z-index: 4;
    bottom: 1vw;
}

.ap-slider-container .slider-dot {
    cursor: pointer;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    margin: 5px;
    box-shadow:0px 0px 5px #888;
}

.ap-slider-container .active-dot {
    background-color: grey;
}

@media(max-width:767px) {

    .ap-slider-container .slide-btn,
    .ap-slider-container .play-pause-btn {
        width: 50px;
        height: 50px;
    }

    .ap-slider-container .slide-btn {
        top: initial;
        bottom: -25px;
    }

    .ap-slider-container .play-pause-btn {
        left: 50%;
        transform: translateX(-50%);
    }
}

/*END Base Code*/

/*==Squarespace 7.0 Code===*/
main.Index .ap-slider-container {
    height: 100vh;
}

body:not(.sqs-edit-mode-active) main.Index .ap-slider-container [data-slide="static"] {
    z-index: 3 !important;
    opacity: 1 !important;
    background-color:transparent !important
}

body:not(.sqs-edit-mode-active) .ap-slider-container [data-slide="static"] .Index-page-image{
    display:none;
}

main.Index .ap-slider-container .Index-page-image img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
}

main.Index  .ap-slider-container section.Index-page {
    height:100%;
    display: flex !important;
    align-items: center !important;
    transition: all 1s ease-in-out;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
}

main.Index .ap-slider-container .Index-page-content {
    width: 100%;
}

@media(max-width:767px) {
    main.Index .ap-slider-container {
        height: 100vh;
    }
}

/*If Slider is First Section in 7.1*/
body:not(.tweak-transparent-header) main#page .ap-slider-container.first-section{
  margin-top:var(--ap-header-height);
  height: calc(100vh - var(--ap-header-height, 0px));
}

body:not(.tweak-transparent-header) main#page .ap-slider-container.first-section section:first-of-type{
  padding-top:0px !important
}

/*Remove Layout Styles when in Editor Mode*/

body.sqs-edit-mode-active .ap-slider-container {
    height: auto !important;
}

body.sqs-edit-mode-active .ap-slider-container section {
    position: relative !important;
    opacity: 1 !important;
}

body.sqs-edit-mode-active .ap-slider-container [data-slide="previous"] {
    transform: none !important;
}

body.sqs-edit-mode-active .ap-slider-container [data-slide="next"] {
    transform: none !important;
}

body.sqs-edit-mode-active .ap-slider-container [data-slide="current"] {
    transform: none !important;
}

body.sqs-edit-mode-active .slide-btn {
    display:none !important;
}
body.sqs-edit-mode-active .dots-container {
    display:none !important;
}
body.sqs-edit-mode-active .play-pause-btn{
    display:none !important;
}
